<div class="container">
    <div class="jumbotron text-center">
        <h1>Welcome to Library</h1>
        <h2>The best to read!</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4 class="text-center">Latest books</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">Title</th>
                            <th class="text-center">Author(s)</th>
                            <th class="text-center">Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="book in vm.books">
                            <td><a ng-href="#/publicationwork/{{book.id}}">{{ book.title }}</a></td>
                            <td>{{ book.authors }}</td>
                            <td>{{ book.rating === null ? 'N/A' : book.rating + ' / 10' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4 class="text-center">Latest magazines</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">Title</th>
                            <th class="text-center">Author(s)</th>
                            <th class="text-center">Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="magazine in vm.magazines">
                            <td><a ng-href="#/publicationwork/{{magazine.id}}">{{ magazine.title }} (Issue: {{ magazine.issue }})</a></td>
                            <td>{{ magazine.authors }}</td>
                            <td>{{ magazine.rating === null ? 'N/A' : magazine.rating + ' / 10' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>